body {
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
}

.header__action {
  display: flex;
  justify-content: space-between;
}

.header__action-search {
  margin-right: 20px;
}
.header__action-searchIcon {
  display: none;
}
@media only screen and (max-width: 320px) {
  .container {
    border: 0;
    margin: 0;
  }
  .header__action-search {
    margin-right: 0;
    display: none;
  }
  h1 {
    font-size: 1rem;
  }
  .header__action-searchIcon {
    display: block;
  }
}
