.search__container {
  margin-right: 20px;
}

.search__input {
  width: 65%;
  height: 30px;
  margin: 5px;
}

.search__button {
  width: 20%;
  height: 30px;
}

@media only screen and (max-width: 320px) {
  .container {
    border: 0;
    margin: 0;
  }
  .search__container {
    display: flex;
    margin: 0;
    margin-right: 10px;
  }
}
