.search__container {
  margin-right: 20px;
}

.header__action-search {
  display: flex;
}
.header__action-search input {
  width: 70%;
}

.header__action-search button {
  width: 30%;
}

@media only screen and (max-width: 320px) {
  .container {
    border: 0;
    margin: 0;
  }
  .search__container {
    margin: 0;
  }
}
