.search__container {
  margin-right: 20px;
}
.search__icon {
  display: none;
}
@media only screen and (max-width: 320px) {
  .container {
    border: 0;
    margin: 0;
  }
  .search__container {
    margin: 0;
  }
  .search__container input {
    display: none;
  }
  .header__action-searchIcon {
    display: block;
  }
}
